@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
    --main-color: rgba(217, 118, 82, 1);
    --sub-color: rgba(38, 49, 64, 1);
    --bg-color: rgba(242, 233, 216, 1);
}
html {
    font-size: 10px;
}

body,
a,
input,
button {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    font-weight: 400;
}

/* 공동 속성 */
strong {
    font-weight: 700;
    color: var(--main-color);
}

.btn {
    color: #fff;
    font-size: 1.4rem;
    padding: 1.1rem 2.4rem;
    background-color: var(--main-color);
    border-radius: 4rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* --------------------------------------- */

/* head */
header {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}
header .head {
    padding: 2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #fff;
}

header h1 a {
    width: 9.2rem;
}
header h1 img {
    width: 100%;
}

/* 햄버거 버튼 모양 */
.hamburger-btn {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-btn span {
    display: block;
    width: 2.4rem;
    height: 0.2rem;
    background-color: var(--sub-color);
    position: relative;
}
.hamburger-btn span::before {
    content: "";
    background-color: var(--sub-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0.8rem;
    left: 0;
}
.hamburger-btn span::after {
    content: "";
    background-color: var(--sub-color);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -0.8rem;
    left: 0;
}

/* 햄버거 버튼 눌렀을 때 화살표모양 */
.arrow-btn {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2.2rem;
    right: calc(70% - 2rem);
    transform: translateX(3.2rem);
    z-index: 2;

    display: none;
}

.arrow-btn span {
    display: block;
    width: 1.6rem;
    height: 0.1rem;
    border: 0.1rem solid #fff;
    background-color: #fff;
    position: relative;
}

.arrow-btn span::before {
    content: "";
    position: absolute;
    top: -50%;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid #fff;
    border-bottom: transparent;
    border-left: transparent;
}

/* 네비게이션 바 */

.global-menu {
    width: 70%;
    height: 100vh;
    background-color: var(--sub-color);
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 5rem;
    z-index: 1;

    display: none;
}

.global-menu ul {
    margin-top: 12rem;
    font-size: 1.6rem;
}

.global-menu ul li:not(:last-child, :nth-child(3)) {
    margin-bottom: 3rem;
}

.global-menu .download-btn {
    margin-top: 5rem;
    margin-left: -1rem;
}

/* --------------------------------------- */

/* main */
main {
    background-color: var(--bg-color);
}

.page-info {
    width: 100%;
    text-align: center;
    padding: 4rem 0 39rem;

    position: relative;
}

.page-info::before {
    content: "";
    width: 100%;
    height: 100%;
    background: url("./../images/고양이\ 1.png") no-repeat bottom center / auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.page-info h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
}
.page-info h2 span {
    display: block;
}

.page-info p {
    width: calc(100% - (5.5rem * 2));
    font-size: 1.4rem;
    line-height: 130%;
    margin: 3rem auto;
}

/* --------------------------------------- */

/* section */
section {
    padding-bottom: 17.2rem;
    position: relative;
}

/* cat-info */
.cat-info {
    padding: 4rem 3rem 6rem;
}
.cat-info img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 1.8rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
}

.cat-info h3 {
    margin-top: 4rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.04rem;
}

.cat-info h3 span {
    display: block;
}

.cat-info p {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 130%;
}

/* cat-contents */
.cat-contents {
    padding: 0 3rem 5rem;
    text-align: center;
    overflow: hidden;
}

.cat-contents h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
    color: var(--main-color);
    letter-spacing: -0.03rem;
}
.cat-contents h3 span {
    display: block;
}

.cat-contents p {
    font-size: 1.6rem;
    line-height: 130%;
    letter-spacing: -0.03rem;
}
.cat-contents p:nth-child(2) {
    margin-top: 3rem;
}

.cat-contents p span {
    display: block;
}

.cat-img-box {
    margin: 4rem 0 6rem;
    /* width: calc((26rem * 3)+ (2rem * 2)); */
    width: 82rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
}

.cat-img-box li {
    width: 26rem;
    border-radius: 1.8rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.cat-img-box li img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.cat-contents-bottom-txt p {
    text-align: left;
    margin-bottom: 3rem;
}

.cat-contents-bottom-txt a.btn {
    display: inline-block;
    float: right;
}

/* cat-subscribe */
.cat-subscribe form {
    width: calc(100% - (3.2rem * 2));
    background-color: var(--sub-color);
    padding: 3.6rem 3.2rem 3rem;
    border-radius: 1.8rem;
    margin: 0 auto;
    position: relative;

    z-index: 3;
}

.cat-subscribe fieldset {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    font-size: 2.4rem;
    color: #fff;
    margin-bottom: 2rem;
    line-height: 130%;
    font-weight: 700;
}
.cat-subscribe fieldset span {
    display: block;
}

.cat-subscribe form label {
    color: rgba(242, 233, 216, 1);
    font-size: 1.4rem;
    line-height: 130%;
    font-weight: 100;
}

.cat-subscribe form input {
    width: 100%;
    display: block;
    margin: 3rem 0 2rem;
    border-radius: 4rem;
    padding: 1.2rem 1.6rem;
    font-size: 1.2rem;
    color: rgba(118, 118, 118, 1);
    border: 0;
}

.cat-subscribe form > button {
    float: right;
}

/* modal창 */
.subscribe-modal {
    width: 30rem;
    height: 30rem;
    padding: 12.6rem 0 3rem;
    border-radius: 3rem;
    text-align: center;
    background: url("./../images/m-bg.png") no-repeat top center / contain;
    background-color: rgba(242, 233, 216, 1);
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
}

.subscribe-modal::after {
    content: "";
    width: 6rem;
    height: 6.2rem;
    background: url("./../images/m-cat.png") no-repeat center / cover;
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
}

.subscribe-modal h4 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--main-color);
}

.subscribe-modal p {
    font-size: 1.4rem;
    line-height: 130%;
    margin: 1rem 3.5rem 2.8rem;
}

.subscribe-modal .modal-btn {
    text-align: center;
    margin: 0 auto;
}

.bottom-img {
    width: 100%;
    height: 24rem;
    background: url("./../images/img_5.png") no-repeat center bottom / 100% auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 2rem 2.4rem;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-tit .footer-logo {
    width: 11.2rem;
}
.footer-tit .footer-logo a {
    width: 100%;
}
.footer-tit .footer-logo a img {
    width: 100%;
}
.footer-tit .sns {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
}

.footer-tit .sns a {
    width: 3.2rem;
}
.footer-tit .sns a img {
    width: 100%;
}

.footer-menu {
    text-align: right;
    display: flex;
    gap: 1.6rem;
    font-size: 1.4rem;
    color: rgba(118, 118, 118, 1);
}

@media (min-width: 769px) {
    /* 공동속성 */
    .btn {
        font-size: 1.6rem;
        padding: 1.5rem 3rem;
    }

    /* header */
    header {
        padding: 0 6rem;
    }

    header .head {
        max-width: 128rem;
        padding: 3.1rem 0;
        margin: 0 auto;
    }

    header h1 a {
        width: 13rem;
    }

    /* .hamburger-btn */
    .hamburger-btn,
    .arrow-btn {
        display: none;
    }

    /* 네비게이션 바 */
    .global-menu {
        display: block;
        width: auto;
        height: auto;
        background-color: transparent;
        position: static;
        padding: 0;
    }

    .global-menu ul {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: flex-end;
        align-items: center;
        color: #000;
    }
    .global-menu ul li:not(:last-child, :nth-child(3)) {
        margin-bottom: 0;
    }
    .global-menu .download-btn {
        margin: 0;
    }

    /* --------------------------------------- */

    /* main */
    main {
        padding: 0 6rem;
    }

    .page-info {
        max-width: 128rem;
        margin: 0 auto;
        text-align: left;
        padding: 20rem 0 26.2rem;
    }

    .page-info::before {
        content: "";
        width: 100%;
        height: 100%;
        background: url("./../images/img_cat_png.png") no-repeat bottom right /
            auto 95%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .page-info h2 {
        width: 60%;
        font-size: 4.8rem;
    }
    .page-info h2 span {
        display: inline-block;
    }
    .page-info p {
        width: 30%;
        margin-left: 0;
    }

    /* --------------------------------------- */

    /* section */
    section {
        width: 100%;
        padding: 0 6rem 24.6rem;
    }
    .cat-container {
        max-width: 128rem;
        margin: 0 auto;
    }
    /* cat-info */
    .cat-info {
        display: flex;
        gap: 8%;
        padding: 8rem 0 12rem;
    }
    .cat-info img {
        width: 50%;
        max-width: 66rem;
        flex-basis: 50%;
        border-radius: 3rem;
    }
    .cat-info .cat-info-txt {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cat-info h3 {
        font-size: 3.6rem;
        margin-top: 0;
    }
    .cat-info p {
        font-size: 1.6rem;
        margin-top: 3rem;
    }

    /* cat-contents */
    .cat-contents {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 9rem;
    }
    .cat-contents h3 {
        font-size: 4.8rem;
        margin-bottom: 4rem;
    }
    .cat-contents h3 span {
        display: inline-block;
    }
    .cat-contents p:nth-child(2) {
        width: 100%;
        margin: 0 auto;
    }
    .cat-contents p:nth-child(2) span {
        display: block;
    }

    .cat-img-box {
        margin: 9rem 0;
        width: 100%;
        gap: 7.2rem;
    }

    .cat-img-box li {
        width: 37.8rem;
    }

    .cat-contents-bottom-txt {
        width: 80%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .cat-contents-bottom-txt p {
        text-align: left;
        margin-bottom: 0;
    }

    /* cat-subscribe */
    .cat-subscribe form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 6rem;
        border-radius: 3rem;
        gap: 10%;
    }
    .cat-subscribe fieldset span {
        display: inline-block;
    }

    .subscribe-txt {
        flex-basis: 50%;
    }
    .email-send {
        flex-basis: 50%;
        width: 100%;
        height: 6rem;
        position: relative;
        border: 1px solid red;
    }
    .email-send input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .email-send button {
        position: absolute;
        top: 0;
        right: 0;
    }

    .bottom-img {
        width: 100%;
        height: 34rem;
        background: url("./../images/img_5.png") no-repeat center center / 100%
            auto;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    /* footer */
    footer ul:last-child {
        display: none;
    }

    footer ul:first-child {
        width: 100%;
        margin: 0 auto;
        max-width: 128rem;
        flex-direction: row;
    }

    .footer-tit .footer-logo {
        width: 22.6rem;
    }

    .footer-tit .sns {
        align-items: center;
    }

    .footer-tit .sns a {
        width: 4.2rem;
    }
}
